.color-black {
  color: #333; }

.color-red {
  color: #FF5F58; }

.color-blue {
  color: #39F; }

/* 
Media Queries
========================================================================== */
@media (min-width: 1200px) {
  .container {
    max-width: 960px; } }
.hero {
  width: 100%;
  height: 100vh; }

.hero-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

* {
  font-family: 'Open Sans';
  font-family: 'Roboto';
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px;
  font-weight: lighter; }

.btn {
  min-width: 170px;
  box-shadow: 0 0px 0px transparent;
  transition: all 0.3s; }
  .btn:hover, .btn:focus {
    box-shadow: 0 3px 10px #4f4f4f;
    transition: all 0.3s; }

.btn-outline {
  color: #333;
  border: 2px solid #333;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.2s; }
  .btn-outline:hover {
    color: #FFC72C;
    background-color: #333;
    transition: all 0.2s; }

.btn-black {
  color: #E0E0E0;
  border: 2px solid #333;
  border-radius: 15px;
  background-color: #333;
  transition: all 0.2s; }
  .btn-black:hover {
    color: #333;
    background-color: #E0E0E0;
    transition: all 0.2s; }

.btn-red {
  color: #E0E0E0;
  border: 2px solid #FF5F58;
  border-radius: 15px;
  background-color: #FF5F58;
  transition: all 0.2s; }
  .btn-red:hover {
    color: #333;
    background-color: #ffb3af;
    transition: all 0.2s; }

.btn-blue {
  color: #E0E0E0;
  border: 2px solid #39F;
  border-radius: 15px;
  background-color: #39F;
  transition: all 0.2s; }
  .btn-blue:hover {
    color: #333;
    background-color: #B6DAE8;
    transition: all 0.2s; }

.btn-yellow {
  color: #333;
  border: 2px solid #FFC72C;
  border-radius: 15px;
  background-color: #FFC72C;
  transition: all 0.2s; }
  .btn-yellow:hover {
    color: #333;
    background-color: #ffe8a2;
    transition: all 0.2s; }

nav {
  transform: skewY(-2deg);
  width: 100%;
  overflow: hidden;
  padding-top: 80px !important;
  padding-bottom: 20px !important;
  margin-top: -60px;
  position: fixed !important;
  height: auto;
  background-color: #333;
  z-index: 9; }
  @media (min-width: 768px) {
    nav {
      height: 160px;
      bottom: 90%; } }
  nav .container {
    transform: skewY(2deg); }

.home.hero {
  background-color: #FFC72C; }

#about {
  padding: 100px 0; }

.ux-demo {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ux-demo-item {
    display: flex;
    align-items: baseline;
    margin: 10px auto; }
    .ux-demo-item button {
      margin-right: 20px; }

.about-nkux {
  background-color: #EEE;
  padding-top: 100px;
  padding-bottom: 100px; }

.leaders {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .leaders {
      flex-direction: row; } }
  .leaders-item {
    margin-bottom: 20px; }
    .leaders-item img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 10px; }
    .leaders-item p {
      margin: 0; }

.new-members {
  padding: 100px 0;
  background-color: #333;
  color: #E0E0E0; }

.events {
  background-color: #E8B6E3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; }

.events-header {
  margin-top: 15vh; }
  @media (min-width: 768px) {
    .events-header {
      margin-top: 25vh; } }

.events-item {
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px; }
  .events-item img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
  .events-item a {
    margin-bottom: 0; }
  .events-item-text {
    padding: 10px; }
  .events-item-title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold; }
  .events-item .addeventatc {
    font-family: 'Roboto';
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 0 0px 0px transparent;
    transition: all 0.3s; }
    .events-item .addeventatc:hover, .events-item .addeventatc:focus {
      font-family: 'Roboto';
      border: 2px solid #333;
      background-color: #EEE;
      box-shadow: 0 3px 10px #4f4f4f;
      transition: all 0.3s; }
    .events-item .addeventatc .addeventatc_dropdown {
      height: auto;
      font-family: 'Roboto';
      border: 2px solid #333;
      border-radius: 15px;
      box-shadow: 0 3px 10px #333;
      transition: all 0.3s; }
      .events-item .addeventatc .addeventatc_dropdown span {
        border-radius: 15px; }

.contact {
  background-color: #B6DAE8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; }

/*# sourceMappingURL=master.css.map */
