nav{
    transform: skewY(-2deg);
    width: 100%;
    overflow: hidden;
    padding-top: 80px !important;
    padding-bottom: 20px !important;
    margin-top: -60px;
    position: fixed !important;
    height: auto;
    background-color: $color-black;

    // @include screenSmall{
    //     position: fixed !important;
    //     height: 160px;
    // }

    @include screenSmall{
        height: 160px;
        bottom: 90%;
    }

    .container{
        transform: skewY(2deg);
    }
}