.home.hero{
    background-color: $color-yellow;
}

#about{
    padding: 100px 0;
}

.ux-demo{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-item {
        display: flex;
        align-items: baseline;
        margin: 10px auto;

        button{
            margin-right: 20px;
        }
    }
}

.about-nkux{
    background-color: $color-light-grey;
    padding-top: 100px;
    padding-bottom: 100px;
}

.leaders{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include screenSmall{
        flex-direction: row;
    }

    &-item{
        margin-bottom: 20px;
        
        img{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        p{
            margin: 0;
        }
    }
}

.new-members{
    padding: 100px 0;
    background-color: $color-black;
    color: $color-white;
}