.home.hero{
    background-color: $color-yellow;
}

#about{
    margin: 100px auto;
}

.ux-demo{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-item {
        display: flex;
        align-items: baseline;
        margin: 10px auto;

        button{
            margin-right: 20px;
        }
    }
}

